<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies!</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Film</th>
                <th>Genre</th>
                <th>Lead Studio</th>
                <th>Audience score %</th>
                <th>Profitability</th>
                <th>Rotten Tomatoes %</th>
                <th>Worldwide Gross</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in sortedMovies %}
            <tr>
                {% for value in movie.values() %}
                <td>{{value}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>