<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies!</title>
</head>

<body>
    <table>
        <tr>
            <th>Name</th>
            <th>Audience score %</th>
            <th>Profitability</th>
            <th>Worldwide Gross</th>
        </tr>
        {% for movie in sortedMovies %}
        <tr>
            {% for value in movie.values() %}
            <td>{{value}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</body>

</html>